<table class="table">
    <thead>
    <tr>
        {{#each this.columns as |column index|}}
            <th>{{column}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each this.data as |datum index|}}
        <tr adhara-datum-row="{{index}}">
            {{#each datum as |value key|}}
                <td adhara-datum-col="{{index}}-{{key}}">{{value}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>