{{#if isEditable}}{{include labelTemplate this}}{{/if}}
{{#if prependTemplate '||' appendTemplate}}
    <div class="input-group mb-2">
        {{#if prependTemplate}}
            <div class="input-group-prepend">
                {{include prependTemplate this}}
            </div>
        {{/if}}
        {{include fieldTemplate this}}
        {{#if appendTemplate}}
            <div class="input-group-append">
                {{include appendTemplate this}}
            </div>
        {{/if}}
    </div>
{{else}}
    {{include fieldTemplate this}}
{{/if}}
{{#if isEditable}}{{include helpTemplate this}}{{/if}}
{{include fieldErrorsTemplate this}}
