<div class="repeater {{#if isHorizontal}}repeater-horizontal align-items-center d-flex{{/if}}">
    {{#each mutableData as |datum index|}}
        <div class="{{../repeaterFieldSetClass}} repeater-fieldset-container" id="fieldset-{{@index}}-{{../safeName}}">
            <div class="repeater-fieldset flex-1">
                {{include ../settings.fieldSetTemplate this}}
            </div>
            <div class="modifiers d-flex mb-3">
                <div class="remove modifier" data-idx='{{@index}}' data-onclick="removeFieldSet"></div>
            </div>
        </div>
    {{/each}}
    <div class="{{../repeaterFieldSetClass}} repeater-fieldset-container new-fieldset {{#unless isHorizontal}}d-flex{{/unless}}">
        {{#unless isHorizontal}}<div class="repeater-fieldset flex-1"></div>{{/unless}}
        <div class="modifiers d-flex">
            <div class="add modifier" data-onclick="addFieldSet"></div>
        </div>
    </div>
</div>