{{#if readonly}}
    {{include 'adhara-form-fields/readonly' this}}
{{else}}
    <select {{addAttr fieldAttributes}} {{addProps fieldProperties}} data-onchange="onDataChange">
        {{#each options}}
            <option value="{{value}}" {{#if (fn_call ../isSelectedValue value)}}selected{{/if}} {{addAttr attributes}} {{addProps properties}}>{{display}}</option>
        {{/each}}
    </select>
{{/if}}