<div class="suggestible-selection">
    <a {{addAttr fieldAttributes}} {{addProps fieldProperties}}
            data-selected="{{value.value}}"
            data-onclick="onFocusToggle" data-focus="onFocusToggle"
            data-onkeyup="onFocusToggle" data-onkeydown="onFocusToggle"
            data-onblur="onFocusToggle"
            onclick="event.preventDefault();" href="javascript:void(0);">
        {{#if value}}
            {{include selectedTemplate value}}
        {{else}}
            <span class="text-muted">{{placeholder}}</span>
        {{/if}}
        {{#if value}}
            <div class="chevron fas fa-times" data-onclick="removeSelection"></div>
        {{/if}}
        <div class="chevron fas fa-chevron-down"></div>
    </a>
    <div class="suggestions d-none" id="{{ts}}"></div>
</div>
