<div class="{{containerClass}}" id="{{containerId}}">
    <div class="{{tabNavClass}}">
        <ul class="{{tabListClass}}">
            {{#each tabsList}}
                <li class="{{className}} nav-item">
                    {{#if link}}
                        <a class="nav-link" href="{{link}}">{{{name}}}</a>
                    {{else}}
                        <a class="nav-link" data-onclick="onLinklessTabClick" data-tabId="{{id}}">{{{name}}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in">
            </div>
        </div>
    </div>
</div>