<div id="adharaTable_{{title}}" class="adhara-table-container" {{addAttr containerAttributes '{"class":"adhara-table-container"}'}}>
    {{#if title}}
        <div>
            <h3>{{title}}</h3>
        </div>
    {{/if}}
    {{#if addNew}}
        <div>
            <button class="btn btn-sm btn-primary">Add new {{title}}</button>
        </div>
    {{/if}}
    {{#if state.fetching_data}}
        <div class="adhara-list-wrapper">
            {{include fetchingDataTemplate this}}
        </div>
    {{else}}
        {{#if data}}
            <div class="adhara-list-wrapper row">
                {{include listTemplate this}}
            </div>
            {{#if isPaginationRequired}}
                <div class="row flex-row-reverse">
                    <div class="btn-group" role="group">
                        <button {{#if isFirstPage}}disabled{{/if}} class="btn btn-sm btn-link d-inline-block" data-onclick="onPreviousPage">{{i18n '"i18n.adhara.list.previous"'}}</button>
                        <button {{#if isLastPage}}disabled{{/if}} class="btn btn-sm btn-link d-inline-block ml-2" data-onclick="onNextPage">{{i18n '"i18n.adhara.list.next"'}}</button>
                    </div>
                </div>
            {{/if}}
        {{else}}
            <div class="adhara-list-wrapper">
                {{include noDataTemplate this}}
            </div>
        {{/if}}
    {{/if}}
</div>