<div id="adharaTable_{{title}}" class="adhara-table-container" {{addAttr containerAttributes '{"class":"adhara-table-container"}'}}>
    {{include menuTemplate this}}
    <div class="adhara-list-wrapper">
        {{#if state.fetching_data}}
            {{include fetchingDataTemplate this}}
        {{else}}
            {{#if isPaginationRequired}}
                <div class="row flex-row-reverse">
                    <div class="col-xs-12">
                        <div class="btn-group float-right" role="group">
                            <button {{#if isFirstPage}}disabled{{/if}} class="btn btn-sm btn-link d-inline-block" data-onclick="previousPage">{{i18n "list_view.navigation.previous"}}</button>
                            <button {{#if isLastPage}}disabled{{/if}} class="btn btn-sm btn-link d-inline-block ml-2" data-onclick="nextPage">{{i18n "list_view.navigation.next"}}</button>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if data}}
                {{include listTemplate this}}
            {{else}}
                {{include noDataTemplate this}}
            {{/if}}
        {{/if}}
    </div>
</div>