<div class="{{containerClass}}">
    <div class="{{tabNavClass}}">
        <ul class="{{tabListClass}}">
            {{#each tabsList}}
                <li class="{{className}}">
                    <a href="{{link}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active in">
            </div>
        </div>
    </div>
</div>