<table class="table {{tableClass}}">
    <thead>
    <tr>
        {{#each columns as |column index|}}
            <th {{#if column.width}}width="{{column.width}}"{{/if}}>{{column.display_name}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each rows as |row index|}}
        <tr adhara-datum-row="{{index}}">
            {{#each ../columns as |column value|}}
                <td adhara-datum-col="{{index}}-{{column.name}}" align="{{column.align}}">
                    {{#if column.trust_as_html}}
                        {{{get row column.name}}}
                    {{else}}
                        {{get row column.name}}
                    {{/if}}
                </td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>